body {
    background-color: aqua
}

.table {
    background-color: bisque;
}

.container-table{
    background-color: yellowgreen;
}

.container-e1{
    background-color: violet;
}
.container-e2{
    background-color: violet;
}